* {
    text-align: right;
}


body {
    background-image: url(background.jpg);
    background-size: cover;
}

p{
    color: rgba(46, 65, 114, 0.5); 
    text-align: center;
    border: 5px solid #072466;
    cursor: pointer;
}

p {
    color: pink !important;
    text-decoration: dashed;
    line-height: 20px;
    font-weight: 600;
    font-size: 87%;
    font-family: Georgia, 'Times New Roman', Times, serif; /* if georgia is not available, then show times new roman */
}

p {
    color: green;
    font-family: 'Zen Dots';
}

img {
    float: left;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.9);
}

#div2 {
    background: rgba(255, 0, 255, 0.2);
}

